<!DOCTYPE html>
<html lang="en-us">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <main class="category">
      <h1><%= category.title %></h1>
      <% if (category.main) { %>
        <p class="primary-lore">Primary lore: <a href="/lore/<%= category.main.slug %>"><%- category.main.label %></a></p>
      <% } %>
      <%- category.description %>
      <br />
      <% if (category.subcategories && category.subcategories.length > 0) { %>
        <section class="subcategories">
          <h2>Subcategories</h2>
          <ul>
            <% for (const sub of category.subcategories) { %>
              <li>
                <a href="/categories/<%= sub.slug %>"><%= sub.label %></a>
              </li>
            <% } %>
          </ul>
        </section>
      <% } %>
      <% if (category.lore && category.lore.length > 0) { %>
        <section class="lore">
          <h2>Lore</h2>
          <ul>
            <% for (const lore of category.lore) { %>
              <li>
                <a href="/lore/<%= lore.slug %>"><%= lore.label %></a>
              </li>
            <% } %>
          </ul>
        </section>
      <% } %>
      <nav class="categories">
        <ul>
          <% if (category.categories && category.categories.length > 0) { %>
            <% for (const cat of category.categories) { %>
              <li>
                <a href="/categories/<%= cat.slug %>"><%= cat.label %></a>
              </li>
            <% } %>
          <% } else { %>
            <li>
              <a href="/categories">Root categories</a>
            </li>
          <% } %>
        </ul>
      </nav>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
