<header>
  <input type="checkbox" id="open-nav-top" />
  <nav class="top">
    <div class="login">
      <% if (authenticated) { %>
        <a href="/logout?returnUrl=<%= returnUrl %>" class="button">Log out</a>
      <% } else { %>
        <a href="/login?returnUrl=<%= returnUrl %>" class="button">Log in</a>
      <% } %>
    </div>
    <form class="search">
      <input type="hidden" name="returnUrl" value="<%= returnUrl %>" />
      <label for="search">Search</label>
      <div class="input-button-combo">
        <input type="search" name="query" id="search" placeholder="Search" />
        <button>Investigate</button>
      </div>
    </form>
    <form class="pov-select" method="post" action="/pov">
      <input type="hidden" name="returnUrl" value="<%= returnUrl %>" />
      <label for="pov">POV</label>
      <div class="input-button-combo">
        <select name="pov" id="pov">
          <option>
            Outsider
          </option>
          <% for (const char of characters) { %>
            <option value="<%= char.id %>"<% if (pov === char.id) { %> selected="selected"<% } %>>
              <%= char.name %>
            </option>
          <% } %>
          <% if (gm) { %>
            <option value="gm"<% if (pov === 'gm') { %> selected="selected"<% } %>>
              Game Master
            </option>
          <% } %>
        </select>
        <button>Perceive</button>
      </div>
    </form>
    <label id="open-nav-top-tab" for="open-nav-top"></label>
  </nav>
  <h1>
    <a href="/">
      <img id="sitename" src="/theme/light/dragonbetween.png" alt="The Dragon Between" />
    </a>
  </h1>
</header>