<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= headInfo.title %></title>
  <meta name="description" content="<%= headInfo.description %>" />
  <link rel="canonical" href="<%= headInfo.url %>" />
  <link rel="stylesheet" href="/style.css" />

  <!-- Favicons -->
  <link rel='icon' href='/theme/light/favicon.ico' />
  <link rel='icon' media='(prefers-color-scheme: dark)' href='/theme/dark/favicon.ico' />
  <link rel='apple-touch-icon' href='/theme/light/logo192.png' />
  <link rel='apple-touch-icon' media='(prefers-color-scheme: dark)' href='/theme/dark/logo192.png' />
  <link rel='manifest' href='/theme/light/manifest.json' />
  <link rel='manifest' media='(prefers-color-scheme: dark)' href='/theme/dark/manifest.json' />

  <!-- Twitter Card data -->
  <meta name="twitter:title" content="<%= headInfo.title %>" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:description" content="<%= headInfo.description %>" />
  <meta name="twitter:image" content="<%= headInfo.image %>" />

  <!-- Open Graph data -->
  <meta property="og:title" content="<%= headInfo.title %>" />
  <meta property="og:site_name" content="The Dragon Between" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= headInfo.url %>" />
  <meta property="og:description" content="<%= headInfo.description %>" />
  <meta property="og:image" content="<%= headInfo.image %>" />
</head>