<header>
  <p class="login">
    <% if (authenticated) { %>
      <a href="/logout?returnUrl=<%= returnUrl %>">Log out</a>
    <% } else { %>
      <a href="/login?returnUrl=<%= returnUrl %>">Log in</a>
    <% } %>
  </p>
  <nav class="top">
    <form class="search">
      <input type="hidden" name="returnUrl" value="<%= returnUrl %>" />
      <label for="search">Search</label>
      <div class="input-button-combo">
        <input type="search" name="query" id="search" placeholder="Search" />
        <button>Go</button>
      </div>
    </form>
    <div class="pov-select">
      <form method="post" action="/pov">
        <input type="hidden" name="returnUrl" value="<%= returnUrl %>" />
        <label for="pov">POV</label>
        <div class="input-button-combo">
          <select name="pov" id="pov">
            <option>Outsider</option>
            <% for (const char of characters) { %>
              <option value="<%= char.id %>"><%= char.name %></option>
            <% } %>
            <% if (gm) { %>
              <option value="gm">Game Master</option>
            <% } %>
          </select>
          <button>Go</button>
        </div>
      </form>
    </div>
  </nav>
  <h1>
    <a href="/">
      <picture>
        <source srcset="/theme/dark/dragonbetween.png" media="(prefers-color-scheme: dark)" />
        <img src="/theme/light/dragonbetween.png" alt="The Dragon Between" />
      </picture>
    </a>
  </h1>
</header>