<details class="secret-legend">
  <summary><%= section.label %></summary>
  <% for (const child of section.children) { %>
    <%- include('../partials/secret-section', { section: child, character }) %>
  <% } %>
  <% if (Object.keys(section.legend).length > 0) { %>
    <ul>
      <% for (const key of Object.keys(section.legend)) { %>
        <li>
          <input type="checkbox" id="secret=<%= key %>" name="<%= key %>"<% if (character.knowledge[key] === true) { %> checked<% } %> />
          <label for="secret=<%= key %>"><%= section.legend[key] %></label>
        </li>
      <% } %>
    </ul>
  <% } %>
</details>